<!doctype html>
<!--index.html-->
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<div class="container"></div>
		<header>
		<h1>Welcome from World Factbook</h1>
		</header>
		<div>There are {{w|length}} countries in in the world.</div>
		<ul>
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'> 
			<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>
			{{c.name}}</a>			
			</li>
			{% endfor %}
		</ul>
		<div class='nav_button'>
			<a href='/begin/{{page_number-page_size}}'>Previous Page</a>
		</div>
		<div class='nav_button'>
			<a href='/begin/{{page_number+page_size}}'>Next Page</a>
		</div>
		<div class="new-button">
		<a href="/addCountryByName/">New Country</a>
		</div>
	<div>
		{% for s in lota %}
		<a href="/startingWith/{{s}}">{{s}}</a>
		{% endfor %}
	</div>

	<div class="nav_foot">
		<a href='/startingWith/A'>A</a>
		<a href='/startingWith/B'>B</a>
		<a href='/startingWith/C'>C</a>
		<a href='/startingWith/D'>D</a>
		<a href='/startingWith/E'>E</a>
		<a href='/startingWith/F'>F</a>
		<a href='/startingWith/G'>G</a>
		<a href='/startingWith/H'>H</a>
		<a href='/startingWith/I'>I</a>
		<a href='/startingWith/J'>J</a>
		<a href='/startingWith/K'>K</a>
		<a href='/startingWith/L'>L</a>
		<a href='/startingWith/M'>M</a>
		<a href='/startingWith/N'>N</a>
		<a href='/startingWith/O'>O</a>
		<a href='/startingWith/P'>P</a>
		<a href='/startingWith/Q'>Q</a>
		<a href='/startingWith/R'>R</a>
		<a href='/startingWith/S'>S</a>
		<a href='/startingWith/T'>T</a>
		<a href='/startingWith/U'>U</a>
		<a href='/startingWith/V'>V</a>
		<a href='/startingWith/W'>W</a>
		<a href='/startingWith/X'>X</a>
		<a href='/startingWith/Y'>Y</a>
		<a href='/startingWith/Z'>Z</a>
	</div>

		<footer>Copyright@World Factbook,Develop by PyaeSoneKhant</footer>
	</div>
	</body>
</html>